/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
    @apply cursor-pointer;
}

i:hover {
    @apply cursor-pointer;
}

.primary-btn {
    @apply bg-primary;
    @apply text-white;
    @apply py-3;
    width: 100%;
}
